*{
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    background-color: #ebffe6;
    border-radius: 5px;
}

input{
    padding: 12px 40px 12px 8px;
    font-size: 19px;
    border-color: #222222;

    background-color: #f8fff5;
}

.btSearch{
    cursor: pointer;
    position: relative;
    vertical-align: bottom;
    height: 55px;
    width: 55px;

    padding: 0 0 0 0;
    border-color: #222222;
}

.btSearch:hover{
    background: #f8fff5;
}
.imgserc{

    width: 50px;
    height: 50px;
}
.imgserc:hover{
    background: #f8fff5;
}

.pic{
    width: 80px;
    height: 80px;
    margin-left: 25px;
}

